.navbar {
    background-color: #333;
    padding: 10px;
  }
  
  .navList {
    display: flex;
    list-style-type: none;
    justify-content: space-around;
    margin: 0;
    padding: 0;
  }
  
  .navItem {
    margin: 0 15px;
  }
  
  .link {
    color: white;
    text-decoration: none;
  }
  
  .activeLink {
    color: yellow;
    text-decoration: underline;
  }
  