@import url('Variables.css');

.wrapper {
  width: 100%;
}

.container {
  padding: 0 80px 0 80px;
}

.profile_wrapper {
  display: flex;
  padding: 20px 0 20px 0;
}

.sidebar {
  width: 200px;
  height: fit-content;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}
  
.sidebar h2 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 20px;
}
  
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
  
.sidebar li {
  margin-bottom: 10px;
}
  
.sidebar button {
  width: 100%;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
}
 
.mainContent {
  flex: 1;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
}

.mainContent h3:first-child {
  text-align: center;
}

.main_info_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_info_block {
  display: flex;
  width: 100%;
}

.main_info_block_img {

}

.main_info_block img {
  width: 200px;
  height: 200px;
}

.main_info_block_text_info_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-left: 50px;
}

.main_info_block_text_info {
  width: 100%;
}

.main_info_block_text_info > * {
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
  
.mainContent h3 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}
  
.mainContent div {
  margin-bottom: 10px;
}
  
.mainContent input {
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}
  
.mainContent img {
  border-radius: 50%;
  margin-bottom: 20px;
}
  
.mainContent button {
  padding: 10px 20px;
  margin-top: 20px;
  color: white;
  cursor: pointer;
}
  
.mainContent h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.downloadButton {
  padding: 10px 20px;
  background-color: #FFD700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
  
.downloadButton:hover {
  background-color: #FFCC00;
}

/*Portfolio*/
.portfolio_main_info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.portfolio_main_info_block {
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  color: #000;
}

.portfolio_img_block img {
  width: 200px;
  height: 200px;
}

.portfolio_main_buttons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.portfolio_main_buttons button:first-child {
  margin-right: 20px;
}

.mainContentButton {
  border-radius: 0;
}