@import url('Variables.css');

.wrapper {
    width: 100%;
}

.container {
    padding: 0 80px 0 80px;
}

.project_list_wrapper {
    display: flex;
    flex-direction: column;
}

.project_list {
    margin-top: 50px;
}